[user]
	name = abeer
	email = abeeradina@outlook.com
	MuhamadTalhaAltaf = Talha
[gui]
	recentrepo = Z:/first_prog
	recentrepo = Z:/first program
	recentrepo = Z:/design pattern
	recentrepo = Z:/dp
	recentrepo = Z:/firstProject
[usama]
	jiwani = Osama Jiwani
	email = Your email addresses
